Name:        Who wants to be a millionaire of movie service ?

Author:      Ivan Kleymenov

In [136]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [137]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1797,tt0778661,10000000,31609243,Daddy's Little Girls,"Gabrielle Union|Idris Elba|Louis Gossett, Jr.|...",Tyler Perry,Family Comes First,Monty is a mechanic struggling to make ends me...,100,Comedy|Drama|Romance,"Lions Gate Films|Tyler Perry Company, The",2/14/2007,6.7,2007
1144,tt0313443,50000000,55495563,Out of Time,Denzel Washington|Eva Mendes|Sanaa Lathan|John...,Carl Franklin,The Clock Is Ticking...,"Matt Lee Whitlock, respected chief of police i...",105,Thriller|Crime|Drama,Original Film|Monarch Pictures|Metro-Goldwyn-M...,10/3/2003,6.0,2003
1524,tt0462338,25000000,11772461,The Hoax,Richard Gere|Alfred Molina|Marcia Gay Harden|H...,Lasse HallstrÃ¶m,Never let the truth get in the way of a good s...,"In what would cause a fantastic media frenzy, ...",116,Comedy|Drama,Miramax Films|The Mark Gordon Company|Yari Fil...,10/14/2006,6.5,2006
112,tt1018765,28000000,7002261,Our Brand Is Crisis,Sandra Bullock|Anthony Mackie|Billy Bob Thornt...,David Gordon Green,May the best campaign win.,"A feature film based on the documentary ""Our B...",108,Drama|Comedy,Participant Media|Smokehouse Pictures,9/11/2015,5.7,2015
832,tt1204342,45000000,165184237,The Muppets,Amy Adams|Jason Segel|Emily Blunt|John Krasins...,James Bobin,They're closer than you think.,When Kermit the Frog and the Muppets learn tha...,103,Comedy|Family|Music,Walt Disney Pictures,11/22/2011,6.4,2011

In [138]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [139]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null object
vote_average            1889 non-null float64
release_year            1889 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [140]:
answers = {} # создадим словарь для ответов

#Переводим дату релиза в формат datetime
data['dt_release_date'] = pd.to_datetime(data['release_date'])

# Рассчитываем прибыль (profit) фильмов
data['profit'] = data.apply(lambda row: row.revenue-row.budget, axis = 1 )

# Создаем столбец со списком жанров
data['genres_lst'] = data['genres'].apply(lambda x: x.split('|'))

# Создаем столбец со списоком режиссеров
data['director_lst'] = data['director'].apply(lambda x: x.split('|'))

# Создаем столбец со списоком актеров
data['cast_lst'] = data['cast'].apply(lambda x: x.split('|'))

# Создаем столбец со списоком студий
data['prod_lst'] = data['production_companies'].apply(lambda x: x.split('|'))

# Создаем столбец c длиной строки с названием фильма
data['title_len'] = data['original_title'].apply(lambda x: len(x))

# Создаем столбец c количеством слов в описании
data['overview_len'] = data['overview'].apply(lambda x: len(x.split()))

# 1. У какого фильма из списка самый большой бюджет?

In [141]:
# "+"
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [142]:
max_budget_title = data[data.budget == data.budget.max()]['original_title'].values[0]
print('Cамый большой бюджет в размере {} у фильма {}'.format(data.budget.max(),max_budget_title))

Cамый большой бюджет в размере 380000000 у фильма Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [143]:
# "+"
answers['2'] = 'Gods and Generals'

In [144]:
max_runtime_title = data[data.runtime == data.runtime.max()]['original_title'].values[0]
print('Cамая большая длительность {} у фильма {}'.format(data.runtime.max(),max_runtime_title))

Cамая большая длительность 214 у фильма Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [145]:
# "+"
answers['3'] = 'Winnie the Pooh'

In [146]:
min_runtime_title = data[data.runtime == data.runtime.min()]['original_title'].values[0]
print('Cамая маленькая длительность {} у фильма {}'.format(data.runtime.min(),min_runtime_title))

Cамая маленькая длительность 63 у фильма Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [147]:
# "+"
answers['4'] = 110

In [148]:
print('Средняя длительность фильмов {}'.format(round(data.runtime.mean())))

Средняя длительность фильмов 110

# 5. Каково медианное значение длительности фильмов?

In [149]:
# "+"
answers['5'] = 107

In [150]:
print('Медианное значение длительности фильмов {}'.format(round(data.runtime.median())))

Медианное значение длительности фильмов 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [151]:
# "+"
answers['6'] = 'Avatar'

In [152]:
max_profit_title = data[data.profit == data.profit.max()]['original_title'].values[0]
print('Самый прибыльный фильм {} с прибылью {}'.format(max_profit_title,data.profit.max()))

Самый прибыльный фильм Avatar с прибылью 2544505847

# 7. Какой фильм самый убыточный?

In [153]:
# "+"
answers['7'] = 'The Lone Ranger'

In [154]:
min_profit_title = data[data.profit == data.profit.min()]['original_title'].values[0]
print('Самый убыточный фильм {} с убытком {}'.format(min_profit_title,data.profit.min()))

Самый убыточный фильм The Lone Ranger с убытком -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [155]:
# "+"
answers['8'] = 1478

ВАРИАНТ 1

In [156]:
# Используем столбец profit

pos_profit = len(data[data.profit > 0])
print('У {} фильмов из датасета объем сборов оказался выше бюджета'.format(pos_profit))

У 1478 фильмов из датасета объем сборов оказался выше бюджета

ВАРИАНТ 2

In [157]:
# Используем сранение между сборами и бюджетом

pos_profit2 = len(data[data.revenue > data.budget])
print('У {} фильмов из датасета объем сборов оказался выше бюджета'.format(pos_profit2))

У 1478 фильмов из датасета объем сборов оказался выше бюджета

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [158]:
# "+"
answers['9'] = 'The Dark Knight'

In [159]:
df2008 = data[data.release_year == 2008]
max_revenue2008 = df2008.revenue.max()
max_revenue_title2008 = df2008[df2008.revenue == max_revenue2008]['original_title'].values[0]
print('Cамый кассовый в размере {} фильма в 2008 году {}'.format(max_revenue2008,max_revenue_title2008))

Cамый кассовый в размере 1001921825 фильма в 2008 году The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [160]:
# "+"
answers['10'] = 'The Lone Ranger'

In [161]:
df = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
min_profit12_14 = df.profit.min()
min_profit_title12_14 = df[df.profit == min_profit12_14]['original_title'].values[0]
print('Cамый убыточный в размере {} фильм в 2012-2014 годах {}'.format(min_profit12_14,min_profit_title12_14))

Cамый убыточный в размере -165710090 фильм в 2012-2014 годах The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [162]:
# "+"
answers['11'] = 'Drama'

ВАРИАНТ 1

In [163]:
# Вариант с использованием размножения строк списка жанров

exp_df = data.explode('genres_lst').genres_lst.value_counts().reset_index()
max_genres = exp_df['index'].iloc[0]
max_genres_count = exp_df['genres_lst'].iloc[0]
print('Больше всего фильмов из жанра {}. Их число {}'.format(max_genres,max_genres_count))

Больше всего фильмов из жанра Drama. Их число 782

ВАРИАНТ 2

In [164]:
# Вариант с использованием функции в apply, подсчитывающей жанры

# Объект - счетчик жанров
c = Counter()

# Функция суммирования жанров в датафрейме
def genres_sum(genres):
    for genre in genres:
        c[genre] += 1

data['genres_lst'].apply(genres_sum)
max_genres = ''
max_genres_count = 0
for k,j in c.items():
    if j > max_genres_count:
        max_genres_count = j 
        max_genres = k

print('Больше всего фильмов из жанра {}. Их число {}'.format(max_genres,max_genres_count))

Больше всего фильмов из жанра Drama. Их число 782

ВАРИАНТ 3

In [165]:
# Вариант с использованием счетчика, подсчитывающего жанры из полного списка 

c = Counter(data.genres.str.cat(sep = '|').split('|')).most_common()[0]
max_genres = c[0]
max_genres_count = c[1]
print('Больше всего фильмов из жанра {}. Их число {}'.format(max_genres,max_genres_count))

Больше всего фильмов из жанра Drama. Их число 782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [166]:
# "+"
answers['12'] = 'Drama'

In [167]:
exp_df = data[data.profit>0].explode('genres_lst').genres_lst.value_counts().reset_index()
max_profit_genres = exp_df['index'].iloc[0]
max_profit_genres_count = exp_df['genres_lst'].iloc[0]
print('Больше всего прибыльных фильмов из жанра {}. Их число {}'.format(max_profit_genres,max_profit_genres_count))

Больше всего прибыльных фильмов из жанра Drama. Их число 560

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [168]:
# "+"
answers['13'] = 'Peter Jackson'

In [169]:
exp_df = data.explode('director_lst')
max_revenue_director = exp_df.groupby('director_lst')['revenue'].sum().sort_values(ascending=False).index[0]
print('Cамые большие суммарные кассовые сборы у режиссера {}'.format(max_revenue_director))

Cамые большие суммарные кассовые сборы у режиссера Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [170]:
# "+"
answers['14'] = 'Robert Rodriguez'

In [171]:
action_df = data[data.genres.str.contains('Action')]
max_action_director = action_df.explode('director_lst').director_lst.value_counts().index[0]
# Или такой вариант 
# max_action_director = Counter(action_df.director.str.cat(sep='|').split('|')).most_common()[0][0]
print('Режиссер, снявший больше всего фильмов Action {}'.format(max_action_director))

Режиссер, снявший больше всего фильмов Action Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [172]:
# "+"
answers['15'] = 'Chris Hemsworth'

In [173]:
df = data[data.release_year == 2012].explode('cast_lst')
max_revenue_actor = df.groupby('cast_lst').revenue.sum().sort_values(ascending = False).index[0]
print('Режиссер, снявший больше всего фильмов Action {}'.format(max_action_director))

Режиссер, снявший больше всего фильмов Action Robert Rodriguez

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [174]:
# "+"
answers['16'] = 'Matt Damon'

In [175]:
df = data[data.budget > data.budget.mean()]
max_budget_actor = df.explode('cast_lst').cast_lst.value_counts().index[0]
print('{} снялся в большем количестве высокобюджетных фильмов'.format(max_budget_actor))

Matt Damon снялся в большем количестве высокобюджетных фильмов

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [176]:
# "+"
answers['17'] = 'Action'

In [177]:
df = data[data.cast.str.contains('Nicolas Cage')]
genre_Nic = df.explode('genres_lst').genres_lst.value_counts().index[0]
print('Nicolas Cage cнялся больше всего в {}'.format(genre_Nic))

Nicolas Cage cнялся больше всего в Action

# 18. Самый убыточный фильм от Paramount Pictures

In [178]:
# "+"
answers['18'] = 'K-19: The Widowmaker'

In [179]:
df = data[data.production_companies.str.contains('Paramount Pictures')]
min_profit_paramount = df[df.profit == df.profit.min()].original_title.values[0]
print('Самый убыточный фильм от Paramount Pictures {}'.format(min_profit_paramount))

Самый убыточный фильм от Paramount Pictures K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [180]:
# "+"
answers['19'] = 2015

In [181]:
max_revenue_year = data.groupby('release_year').revenue.sum().sort_values(ascending = False).index[0]
print('Самый успешный год по суммарным кассовым сборам {}'.format(max_revenue_year))

Самый успешный год по суммарным кассовым сборам 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [182]:
# "+"
answers['20'] = 2014

In [183]:
df = data[data.production_companies.str.contains('Warner Bros')]
max_revenue_wb_year = df.groupby('release_year').revenue.sum().sort_values(ascending = False).index[0]
print('Самый успешный год студии WB по суммарным кассовым сборам {}'.format(max_revenue_wb_year))

Самый успешный год студии WB по суммарным кассовым сборам 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [184]:
# "+"
answers['21'] = 'Сентябрь'

In [185]:
max_release_month = data.dt_release_date.dt.month.value_counts().index[0]
print('Суммарно вышло больше всего фильмов в месяце {}'.format(max_release_month))

Суммарно вышло больше всего фильмов в месяце 9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [186]:
# "+"
answers['22'] = 450

In [187]:
summer_count = data.query('dt_release_date.dt.month in [6,7,8]').count()[0]
print('Суммарно вышло вышло фильмов летом {}'.format(summer_count))

Суммарно вышло вышло фильмов летом 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [188]:
# "+"
answers['23'] = 'Peter Jackson'

In [189]:
df = data.query('dt_release_date.dt.month in [1,2,12]')
df = df.explode('director_lst')
winter_soon_director = df.director_lst.value_counts().index[0]
print('Самое продуктивное время года для режиссера {}'.format(winter_soon_director))

Самое продуктивное время года для режиссера Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [190]:
# "+"
answers['24'] = 'Four By Two Productions'

In [191]:
df = data.explode('prod_lst')
prod_group = df.groupby('prod_lst')
max_len_prod = prod_group['title_len'].mean().sort_values(ascending = False).index[0]
print('Самые длинные названия своим фильмам по количеству символов дает студия {}'.format(max_len_prod))

Самые длинные названия своим фильмам по количеству символов дает студия Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [192]:
# "+"
answers['25'] = 'Midnight Picture Show'

In [193]:
df = data.explode('prod_lst')
prod_group = df.groupby('prod_lst')
max_len_overview_prod = prod_group['overview_len'].mean().sort_values(ascending = False).index[0]
print('Самые длинные описания фильмов по количеству слов у студии {}'.format(max_len_overview_prod))

Самые длинные описания фильмов по количеству слов у студии Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [194]:
# "+"
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [195]:
#Отбираем фильмы, вошедшие в 1% квантриль сверху по признаку vote_average
answer_lst = data[data.vote_average > data.vote_average.quantile(0.99)]['original_title'].tolist()
answer_lst

['Inside Out',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'Inception',
 'The Dark Knight',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 '12 Years a Slave',
 'Memento']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [196]:
# "+"
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

ВАРИАНТ 1

In [197]:
# Вариант с использованием размножения строк (explode)

df = data['cast_lst'].apply(lambda x: list(itertools.combinations(x,2)))
df = pd.DataFrame({'cast_pairs': df.values})
df['cast_pairs_len'] = df.cast_pairs.apply(lambda x: len(x))
# Исключаем фильмы, где указан только один актер. 
# В этих случаях itertools.combinations возвращает пустую строку, что вызывает ошибку в дальнейшей обработке
df = df[df.cast_pairs_len > 1]
df = df.explode('cast_pairs')
# Сортируем комбинации, чтобы пары с одним набором актеров, но разным порядком считались одной комбинацией
df['cast_pairs'] = df.cast_pairs.apply(lambda x: sorted(x))
df.cast_pairs.value_counts()

[Emma Watson, Rupert Grint]            8
[Daniel Radcliffe, Rupert Grint]       8
[Daniel Radcliffe, Emma Watson]        8
[Ben Stiller, Owen Wilson]             6
[Helena Bonham Carter, Johnny Depp]    6
                                      ..
[Rachel Nichols, Stephen Lang]         1
[Claire Forlani, Richard Roundtree]    1
[Columbus Short, Ne-Yo]                1
[Jake Gyllenhaal, Russell Peters]      1
[Adam Goldberg, Val Kilmer]            1
Name: cast_pairs, Length: 17943, dtype: int64

ВАРИАНТ 2

In [198]:
#Вариант с использованием единого списка пар актеров, полученных суммированием списков пар

df = data['cast_lst'].apply(lambda x: list(itertools.combinations(x,2)))
#Получаем единый список пар актеров
pair_list = df.sum()
# Сортируем комбинации, чтобы пары с одним набором актеров, но разным порядком считались одной комбинацией
pair_list_sorted=[]
for pair in pair_list:
    pair_list_sorted.append(tuple(sorted(pair)))
Counter(pair_list_sorted).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [199]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [200]:
# и убедиться что ни чего не пропустил)
len(answers)

27